<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <app-loader [loading]="loading"></app-loader>

    <form [formGroup]="loginForm" (submit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="flex space-between">
        <div>
          <a href="#" routerLink="/public/forget-password">Forget Password</a>
        </div>
        <div>
          <button type="submit" [disabled]="!loginForm.valid" mat-button>Login</button>
        </div>
      </div>

      <div>
        <a href="#" routerLink="/public/signup">Create Account</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
