<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" fixedTopGap="56">
        <div class="logo">
            <img src="../../../app/assets/images/spotfixes_logo.png" alt="Spotfixes" />
        </div>
        <div class="menu-link-container">
            <div class="menu-link">
                <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon>
                <a class="link" routerLink="/private/dashboard">Dashboard</a>
            </div>
            <div class="menu-link">
                <mat-icon aria-hidden="false" aria-label="Orders">list</mat-icon>
                <a class="link" routerLink="/private/dashboard">Orders</a>
            </div>
            <div class="menu-link" *ngIf="sessionUser?.role_id === 1">
                <mat-icon aria-hidden="false" aria-label="Customers">account_circle</mat-icon>
                <a class="link" routerLink="/private/customer">Customers</a>
            </div>
            <div class="menu-link" *ngIf="sessionUser?.role_id === 1">
                <mat-icon aria-hidden="false" aria-label="Technicians">account_box</mat-icon>
                <a class="link" routerLink="/private/technician">Technicians</a>
            </div>
            <div class="menu-link" *ngIf="sessionUser?.role_id === 1">
                <mat-icon aria-hidden="false" aria-label="Users">supervisor_account</mat-icon>
                <a class="link" routerLink="/private/user">Users</a>
            </div>
        </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <div>
            <mat-toolbar>
                <button mat-icon-button class="toolbar-icon" aria-label="" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Spotfixes</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button class="toolbar-icon" aria-label="Help">
                    <mat-icon>help</mat-icon>
                </button>
                <button mat-icon-button class="toolbar-icon" aria-label="Settings">
                    <mat-icon>settings</mat-icon>
                </button>
                <button mat-icon-button class="toolbar-icon" aria-label="Menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button class="toolbar-icon" aria-label="Account" [matMenuTriggerFor]="beforeMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="logout()">Log Out</button>
                </mat-menu>
            </mat-toolbar>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
