<mat-card>
    <mat-card-title>Forget password</mat-card-title>
    <mat-card-content>
      <app-loader [loading]="loading"></app-loader>
  
      <form [formGroup]="form" (submit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>
  
        <div class="flex space-between">
          <div>
            <button type="submit" [disabled]="!form.valid" mat-button>Submit</button>
          </div>
        </div>
      </form>
    </mat-card-content>
</mat-card>  
