<app-loader [loading]="loading"></app-loader>
<div class="p-5">
  <div class="width-100 flex">
    <div class="width-33">
      <mat-card>
        <mat-card-content>
          <div class="count-header">
            Published Today
          </div>
          <div class="count">
            0
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="width-33 pl-5">
      <mat-card>
        <mat-card-content>
          <div class="count-header">
            Scheduled Today
          </div>
          <div class="count">
            0
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="width-33 pl-5">
      <mat-card>
        <mat-card-content>
          <div class="count-header">
            Pending Review
          </div>
          <div class="count">
            0
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
